<!DOCTYPE html>
<html>
<head>
<title>Assign Complaint</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="sidebar">
    <a href="/dashboard">🏠 Dashboard</a>
    <a href="/assign">📌 Assign</a>
</div>

<div class="main">
    <h2>Assign Complaint</h2>

    <form method="POST">

       <select name="complaint_id">
{% for c in complaints %}
    <option value="{{ c[0] }}">Complaint {{ c[0] }}</option>
{% endfor %}
</select>
        <select name="officer_id">
{% for o in officers %}
    <option value="{{ o[0] }}">{{ o[1] }}</option>
{% endfor %}
</select>
        <br><br>
        <button>Assign</button>

    </form>
</div>

</body>
</html>